.header-logo {
    max-width: 43px;
    height: auto; 
}

.navbar{
    background-color: #113744;
    border-bottom: #171054a3 2px solid;
}
.navbar a{ 
    color: white; 
    text-decoration: none; 
    margin-left: 5px;
}

.footer{
    background-color: #113744;
}

.register-icon{
    color: #28a745; 
} 

.login-icon{
    color: #28a745; 
} 