<head>
    <link rel="stylesheet" href="/css/header-footer.css" />
</head>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <img src="/images/logo.png" class="header-logo" alt="Logo">
        <a class="navbar-brand" href="/">BiblioOnline</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/books">
                        <i class="fas fa-search search-icon"></i> Nuestros libros
                    </a>
                </li>

                {{#logged}}
                <li class="nav-item user-message">
                    <span>Hola, {{userName}}</span>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        <img src="/users/{{userId}}/image" class="nav-avatar" alt="Foto de perfil"> Tu perfil
                    </a>
                    <ul class="dropdown-menu menu">
                        <li><a class="dropdown-item" href="/profile">
                            <i class="fa-solid fa-gear"></i> Mi cuenta</a></li>
                        <li><a class="dropdown-item" href="/my-loans">
                            <i class="fa-solid fa-book"></i> Mis préstamos</a></li>
                        <li><a class="dropdown-item" href="/logout">
                            <i class="fa-solid fa-sign-out"></i> Cerrar sesión</a></li>
                        {{#admin}}
                        <li><a class="dropdown-item" href="/admin">
                            <i class="fa-solid fa-user-shield"></i> Panel de administrador</a></li>
                        {{/admin}}
                    </ul>
                </li>
                {{/logged}}

                {{^logged}}
                <li class="nav-item">
                    <a class="nav-link" href="/register">
                        <i class="fas fa-user-plus register-icon"></i> Registrate</a></li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <i class="fas fa-sign-in-alt login-icon"></i> Inicia sesión</a></li>
                </li>
                {{/logged}}
            </ul>
        </div>
    </div>
</nav>